{{#company}}
  <section class="container-white-label-header">
    <div class="row">
      <div class="medium-4 columns">
        <h2>Contact Info</h2>
        <div class="contact-info">
          <p>{{name}}</p>
          <p>{{email}}</p>
          <p>{{phone}}</p>
        </div>
        <div class="address-info">
          <p>{{address_1}}</p>
          <p>{{address_2}}</p>
          <p>{{address_city}}, {{address_state}} {{address_zip}}</p>
        </div>
      </div>
      <div class="medium-8 columns">
        <h2>Bio</h2>
        <p>{{copy}}</p>
      </div>
    </div>
  </section>
{{/company}}
