<header class="white-label">
  <div class="container-header">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <div class="company-logo">
            <a class="logo" href="http://{{DOMAIN}}">
              <img src="{{whiteLabel.logo}}">
            </a>
            <div class="company-info">
              <a class="company" href="http://{{DOMAIN}}">{{whiteLabel.name}}</a>
              <a class="company-link" href="{{whiteLabel.url}}" target="_blank">{{whiteLabel.site}}</a>
            </div>
          </div>
        </li>
        <li class="toggle-topbar menu-icon hide-for-print"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section bottom-top-bar">
        <ul class="right">
          <li><a href="/savings/premium">Savings Calculator</a></li>
          <li><a href="/spending/premium">Spending Calculator</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </section>
    </nav>
  </div>
  <div class="powered-by-nestegg">
    <div class="container-header">
      <a href="http://{{whiteLabel.main}}">
        <p class="tagline">Powered by <span class="nestegg">Nest Egg Guru</span></p>
      </a>
    </div>
  </div>
</header>
