<header class="header-logo-only white-label-print container-white-label-nav">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <a href="http://{{DOMAIN}}" class="company-logo">
          <img src="{{whiteLabel.logo}}">
        </a>
        <div class="company-info left">
          <a class="company" href="http://{{DOMAIN}}">{{whiteLabel.name}}</a>
          <a class="motto" href="http://{{whiteLabel.url}}" target="_blank">{{whiteLabel.site}}</a>
        </div>
      </li>
    </ul>
  </nav>
  <a href="http://{{whiteLabel.main}}">
    <p class="tagline">Powered by <span class="nestegg">Nest Egg Guru</span></p>
  </a>
</header>
