<html>
  <head>
    <title></title>
  </head>
  <body>
    <p>Dear {{name}},</p>
    <p></p>
    <p>Your Nest Egg Guru subscription plan (${{amount}}/{{subName}}) has been cancelled.</p>
    <p></p>
    <p><a href="http://{{companySubdomain}}.{{domain}}">{{companySubdomain}}.nesteggguru.com</a> will remain active until {{currentPeriodEnd}}.</p>
    <p></p>
    <p>To reactivate your custom-branded Nest Egg Guru retirement calculators, please visit your dashboard:</p>
    <p></p>
    <p><a href="http://{{domain}}/user">My Account</a></p>
    <p></p>
    <p><b>Yours Truly,</b><br>Nest Egg Guru<br><a href="mailto:guru@nesteggguru.com">Guru@nesteggguru.com</a></p>
    <p></p>
    <small><em>Monthly subscriptions may be cancelled with 30 days prior notice.  Monthly subscriptions that have already been charged cannot be refunded.  Annual subscribers should be aware that the subscription is non-refundable after 30 days.  Cancellation prior to 30 days will result in a refund less a $30 charge for one month’s usage.</em></p>
  </body>
</html>