<html>
  <head>
    <title></title>
  </head>
  <body>
    <p><b>Subscription Reactivate:</b></p>
    <p></p>
    <p>Name: {{name}}</p>
    <p></p>
    <p>Email Address: {{email}}</p>
    <p></p>
    <p>Subscription Amount: ${{amount}}</p>
    <p></p>
    <p>Subscription Interval: {{subName}}</p>
    <p></p>
    <p>Activated On: {{activatedOn}}</p>
    <p></p>
    <p>Next Payment Date: {{nextPaymentDate}}</p>
    <p></p>
    <p>Subdomain: <a href="http://{{companySubdomain}}.{{domain}}">{{companySubdomain}}.nesteggguru.com</a></p>
  </body>
</html>