<html>
  <head>
    <title></title>
  </head>
  <body>
    <p>Dear {{name}},</p>
    <p></p>
    <p>Your current subscription plan has been reactivated at ${{amount}}/{{subName}}, with your next payment charged on {{nextPaymentDate}}.</p>
    <p></p>
    <p>Your custom-branded financial professional subscription to Nest Egg Guru’s retirement calculators is now active and can be viewed at:</p>
    <p></p>
    <p><a href="http://{{companySubdomain}}.{{domain}}">{{companySubdomain}}.nesteggguru.com</a></p>
    <p></p>
    <p>To make changes to your logo and/or contact information you may log into your admin dashboard at:</p>
    <p></p>
    <p><a href="http://{{domain}}/user">My Account</a></p>
    <p></p>
    <p><b>Thank You</b><br>Nest Egg Guru<br><a href="mailto:guru@nesteggguru.com">Guru@NestEggGuru.com</a></p>
    <p></p>
    <small><em>Monthly subscriptions may be cancelled with 30 days prior notice.  Monthly subscriptions that have already been charged cannot be refunded.  Annual subscribers should be aware that the subscription is non-refundable after 30 days.  Cancellation prior to 30 days will result in a refund less a $30 charge for one month’s usage.</em></small>
  </body>
</html>